* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background-repeat:no-repeat;
  position:relative;
}

body {
  font-family: $serif;
  padding: $base-font-size;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 70px;

  h1{
    font-family: $sans;
    line-height: 1.1em;
    margin-bottom: $base-margin*2;
  }

  h1, h2, h3, h4, h5, h6{
    color: #333;
  }

  a {
    color: $color-red;
    transition: color .1s ease-in;

    &:hover {
      color: lighten($color-red, 15%);
    }
  }

  .footer {
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 9909;
    background: url('/assets/images/stage.svg');
    background-size: cover;
    min-height: 100px;
  }

  .content {
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
