* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background-repeat:no-repeat;
  position:relative;
}

body {
  font-family: $serif;
  background: #ECF0F1;
  color: #555;
  padding: $base-font-size;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @include adjust-leading-to($leading);
  padding-top: 55px;

  font-size: 80%;
  @include respond-to(500px){ font-size: 100%; }

  h1{
    font-family: $sans;
    line-height: 1.1em;
    margin-bottom: $base-margin*2;
  }

  h1, h2, h3, h4, h5, h6{
    color: #333;
  }

  .footer {
    position: fixed;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 9909;

    img {
      min-width: 100%;
    }
  }
}

.featured {
  min-height: 500px;
  background: url('https://s3.amazonaws.com/mixture-mixed/161/355/public/images/2014/community.jpg') center center;
  background-size: cover;
  color: #fff;

  .content {
    padding-top: 5%;
  }

  h1 {
    color: #fff;
  }

  h1, p {
    max-width: 640px;
    margin: 0 auto;
  }
}
