* {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background-repeat:no-repeat;
  position:relative;
}

body {
  font-family: $serif;
  padding: $base-font-size;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  h1{
    font-family: $sans;
    line-height: 1.1em;
    margin-bottom: $base-margin*2;
    @include font-size(6.2);
    @include line-height(7.2);
    letter-spacing: -0.06em;
    font-weight: $light;
  }

  h1, h2, h3, h4, h5, h6{
    color: #333;
  }

  a {
    color: $color-red;
    transition: color .1s ease-in;
    text-decoration: none;

    &:hover {
      color: lighten($color-red, 15%);
    }
  }

  .footer {
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 9909;
    background: url('/assets/images/stage.svg');
    background-size: cover;
    min-height: 100px;
    margin-top: 240px;
  }

  .random-character {
    display: inline-block;
    position: absolute;
    z-index: 9999;
    bottom: 30px;
    left: calc(50% - 150px);
    height: auto;
    width: 300px;
  }

  .content {
    display: block;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;

    img {
      border-radius: $border-radius;
      margin: 20px 0;
      max-width: 100%;
    }

    button.buy {
      width: 100%;
      background: $color-red;
      padding: 20px;
      border-radius: $border-radius;
      border: none;
      color: #fff;
      margin: 10px 0;
      transition: background .1s ease-in;
      border: 1px solid $color-red;

      &:hover {
        background: lighten($color-red, 15%);
      }
    }

    .speakers {
      li:first-child {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  .top {
    margin-top: 120px;
  }

  .sticky-wrapper {
    height: 70px!important;
  }

  .search {
    background: rgba(#fff, .96);
    box-shadow: 0 0 0 1px #DCDCDC, 0 1px 5px rgba(#000, .1);
    padding: 20px 0;
    width: 100%;
    z-index: 100;

    @media (max-width: 900px) {
      padding: 0;
    }

    select {
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      color: #b52126;
      line-height: 50px;
      border-radius: $border-radius;
      font-family: $sans;
      font-weight: $bold;
      @include font-size(1.6);
      transition: all .1s ease-in;
      border: 0;
      padding: 10px 20px;
      display: none;
      width: 100%;

      @media (max-width: 900px) {
        display: block;
      }
    }

    .dropdown-arrow {
      position: absolute;
      bottom: 30px;
      right: 20px;
      border-top: 10px solid #b52126;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      pointer-events: none;
      display: none;

      @media (max-width: 900px) {
        display: block;
      }
    }

    ul {
      font-family: $sans;
      text-align: center;
      @include font-size(1.3);
      @include line-height(2.0);
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      display: block;
      width: 100%;
      column-count: 5;
      list-style: none;
      padding: 0;
      overflow: hidden;

      @media (max-width: 900px) {
        display: none;
      }

      li {
        list-style: none;
        width: 20%;
        float: left;
        display: block;

        a {
          color: #999;
          display: block;

          &:hover {
            color: lighten($color-red, 15%);
          }
        }
      }
    }
  }

  .speakers {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    @include line-height(2.6);
  }

  @media only screen
    and (max-width : 800px) {

    .speakers {
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
      -moz-column-count: 1; /* Firefox */
      column-count: 1;
      @include line-height(2.6);
    }
  }
}
