header {
  background: rgba(#B52126, .97);
  margin-bottom: 40px;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .logo {
    float: left;
    display: inline-block;
    width: 200px;
    margin-left: 10px;
    font-size: 0;
    line-height: 50px;
  }

  nav {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px;

    li {
      display: inline-block;
      margin-left: 20px;
      font-family: $sans;
      @include font-size(1.8);

      a {
        color: #fff;
        @include link-transition;
        text-decoration: none;

        &:hover {
          color: lighten(#fff, 15%);
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .portland {
    display: inline-block;
    float: right;
    width: 200px;
    margin-right: 10px;
    line-height: 50px;
    background: red;
  }
}
