.featured {
  background: url('/assets/images/featured.jpg') center center;
  background-size: cover;
  color: #fff;

  .content {
    padding: 60px 20px;

    h1, p {
      color: #fff;
    }

    h1 {
      margin: 0;
      margin-bottom: 20px !important;
    }

    p {
      @include font-size(2.0);
    }

  }
}
