.featured {
  background: url('/assets/images/featured.jpg') center center;
  background-size: cover;
  color: #fff;
  padding-top: 70px;

  .content {
    padding: 60px 20px;

    h1, p {
      color: #fff;
    }

    h1 {
      margin: 0;
      margin-bottom: 20px !important;
    }

    p {
      font-family: $sans;
      @include font-size(1.8);
      @include line-height(2.8);
      text-shadow: 0 1px 1px rgba(#000, .8);
    }
  }
}
