@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
$sans: 'Open Sans', sans-serif;
$serif: "Noto Serif",sans-serif;

$light: 300;
$normal: 400;
$semi: 600;
$bold: 600;

$font-size: 10px;
$line-height: 10px;
$base-margin: 10px;

$color-red: #B52126;

$text-color:#353535;
$primary: #3369e8;
$base-font-size: 20px;
$base-line-height: 6px;
$leading: 6;
$width: 600px;
$breakpoint: 500px;

$border-radius: 2px;
