$sans: 'Source Sans Pro', sans-serif;
$serif: 'PT Serif', serif;
$bold: bold;
$normal: normal;
$font-size: 10px;
$line-height: 10px;
$base-margin: 10px;

$color-red: #B52126;

$text-color:#353535;
$primary: #3369e8;
$base-font-size: 20px;
$base-line-height: 6px;
$leading: 6;
$width: 600px;
$breakpoint: 500px;
