.content {
  list-style: none;
  margin: 0;
  padding: 0;

  .anchor:before {
    content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em;
  }

  li:first-child .thanks {
    padding-top: 0;
    border-top: none;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    .thanks {
      display: inline-block;
      padding: 40px 0;
      border-top: 1px solid rgba(#000, .05);
      width: 100%;

      h1 {
        margin-top: 0;
      }

      img {
        max-width: 100%;
      }

      .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
      }

      .video-container iframe,
      .video-container object,
      .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &:nth-child(2n) {
      /* background: rgba(#000, .03);*/
    }
  }

  .meta {
    font-family: $sans;
    margin-bottom: 10px;
    @include font-size(1.3);
    color: $text-color;
    font-weight: $normal;
    display: block;
  }

  p {
    display: block;
    @include font-size(1.8);
    @include line-height(3.2);
    color: $text-color;
    font-weight: $normal;
  }

  ul.postings {
    padding-top: 20px;
    padding: 0;
    margin: 0;
  }
}

pre {
  display: block;
  padding: 20px;
  border-radius: $border-radius;
  background: rgba(#000, .03);
  border: 1px solid rgba(#000, .05);
  @include font-size(1.4);
  @include line-height(1.8);
}

code {
  background: rgba(#000, .03);
  border: 1px solid rgba(#000, .05);
  padding: 4px 6px;
  border-radius: $border-radius;
  font-weight: $bold;
  @include font-size(1.4);
}
