.content {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    @include font-size(6.8);
    @include line-height(7.8);
    letter-spacing: -0.04em;
    font-weight: $light;
  }

  .meta {
    font-family: $sans;
    @include font-size(1.4);
    color: $text-color;
    font-weight: $normal;
  }

  p {
    @include font-size(1.8);
    @include line-height(3.2);
    color: $text-color;
    font-weight: $normal;
  }
}
